.header main {
  background: black;
}

/* cabeçalho da aplicação */
.header-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-header {
  margin: 1%;
  width: 150px;
}

.box-user {
  align-items: center;
  background: linear-gradient(180deg, #ac1616 0%, #100203 100%);
  border-radius: 50px;
  display: flex;
  height: 33px;
  margin: auto 1%;
  width: 198.7px;
}

.header-component h3 {
  color: white;
  flex-grow: 2;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.7;
  text-align: center;
}

.icon-header {
  border: solid transparent;
  flex-grow: 0;
  height: 70%;
  object-fit: contain;
  padding: 0 0 0 6px;
}

/* cabeçalho de navegação */
.header-nav {
  display: flex;
  height: 40px;
}

.header-nav :nth-child( 3 ) {
  margin-right: 4px;
}

.links-header {
  background: linear-gradient(180deg, #4c4343 0%, #050202 100%);
  border: solid black;
  border-width: 0 2px;
  color: #cacaca;
  flex-grow: 1;
  font-size: 22px;
  font-weight: 500;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.2s;
}

.links-header:hover, .links-header:focus {
  transform: scale(1.02);
}

.link-to-search {
  background: linear-gradient(180deg, #951416 0%, black 100%);
}
